* {
  margin: 0;
}
html,
body {
  height: 100%;
}
#board {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  z-index: 10;
}
.footer {
  position: fixed;
  display: inline;
  bottom: 0px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  z-index: 5;
}
.footer button {
  color: white;
  border-radius: 5px;
  margin: auto 30px;
}
.footer button#new-game {
  background-color: blue;
}
.footer button#back {
  background-color: red;
}
.footer button#stop-ai {
  background-color: purple;
}
.footer button#start-ai {
  background-color: green;
}
.footer #anal {
  left: 0px;
  margin: auto 30px;
  position: absolute;
  bottom: 0px;
}
.footer #num-trials {
  right: 0px;
  margin: auto 30px;
  position: absolute;
  bottom: 0px;
}
#new-game-menu {
  position: absolute;
  visibility: visible;
  background-color: blue;
  z-index: -1;
  width: 80%;
  left: auto;
  height: auto;
  top: auto;
  padding: 5%;
  color: white;
  -moz-box-shadow: 0 0 50px black;
  -webkit-box-shadow: 0 0 00px black;
  box-shadow: 0 0 50px black;
  border-radius: 15px;
  text-align: center;
  font-size: 30px;
  opacity: 0;
}
input {
  font-size: 20px;
}
.header {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 10;
  padding-right: 30px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-bottom-left-radius: 15px;
  padding-left:10px;
  padding-bottom: 7px;
  background-color: rgba(255, 255, 255, 0.6);
}
.header a {
  margin-top: 0px;
  font-size: 1.6em;
  font-weight: bold;
  text-decoration: none;
}
